---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

div.box
{
  width: 100%; height: 100%;
}

img{
  width: 100%; height: 100%;
  }

div.imgleft
{
  //overflow: auto;
  box-sizing: border-box;
  width: 350px; height: 475px;
  border: 5px solid gold;
  float: left;
  padding: 0% 0% 0% 0%;
  margin: 5% 5% 5% 5%;
}

div.imgright
{
  //overflow: auto;
  box-sizing: border-box;
  width: 300px; height: 450px;
  border: 5px solid gold;
  float: right;
  padding: 0% 0% 0% 0%;
  margin: 2% 2% 2% 2%;
}


.quotations
{
  font-family: Monotype Corsiva;
  font-size: 30px;
}
p.one{
  color: blue;
  font: Arial;
}
