---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

div.box
{
  width:1300px; height: 700px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: black;
  background-color: white;
}

div.desc
{
  width: 500px; height: 650px;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  border-colour: blue;
  margin: 5px;
  padding: 10px;
}

div.img
{
  width:500px; height:650px;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  border-colour: red;
  margin: 5px;
  padding: 10px;
}

p.one{
  color: blue;
  font: Arial;
}
