---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

div.box
{
  width: 75%; height: 70%;
}

div.desc
{
  float: left;
  width: 600px; height: 700px;
  border: 2px solid black;
  background-color: #F7FE72;
  
  padding: 25px;
}

div.img
{
  width: 600px; height: 700px;
  border: 2px solid blue;
  float: left;
  
  padding: 12px 50px 12px 100px;
}

.quotations
{
  font-family: Monotype Corsiva;
  font-size: 30px;
}
p.one{
  color: blue;
  font: Arial;
}
