---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

div.box
{
  width:1300px; height: 700px;
}

div.desc
{
  float: left;
  width: 600px; height: 650px;
  border: 2px solid black;
  background-color: #F7FE72;
  margin: 25px;
  padding: 25px;
}

div.img
{
  width: 600px; height: 650px;
  border: 2px solid blue;
  float: left;
  margin: 25px;
  padding: 0px 25px 25px 25px;
}

.quotations
{
  font-family: Monotype Corsiva;
  font-size: 20px;
}
p.one{
  color: blue;
  font: Arial;
}
