---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

div.box
{
  width: 100%; height: 100%;
}

div.desc
{
  overflow: auto;
  float: left;
  width: 45%; height: 75%;
  border: 5px solid gold;
  background-color: #ECFC71;
}

div.imgleft
{
  overflow: auto;
  width: 45%; height: 75%;
  border: 5px solid gold;
  float: left;
  padding: 2% 2% 2% 2%;
}

div.imgright
{
  overflow: auto;
  width: 45%; height: 75%;
  border: 2px solid gold;
  float: right;
  padding: 2% 2% 2% 2%;
}


.quotations
{
  font-family: Monotype Corsiva;
  font-size: 30px;
}
p.one{
  color: blue;
  font: Arial;
}
