---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

div.box
{
  width: 90%; height: 90%;
}

div.desc
{
  overflow: auto;
  float: left;
  width: 45%; height: 75%;
  border: 2px solid black;
  background-color: #ECFC71;
}

div.img
{
  overflow: auto;
  width: 45%; height: 75%;
  border: 2px solid blue;
  float: left;
}

.quotations
{
  font-family: Monotype Corsiva;
  font-size: 30px;
}
p.one{
  color: blue;
  font: Arial;
}
